* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1rem;
}

.main-container {
  background-image: url(/assets/crew/background-crew-mobile.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  z-index: -1;
}

.main-container::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1.5rem;
  transition: transform 0.6s ease-in-out;
}

.logo:hover {
  transform: rotate(720deg);
}

.hamburger {
  margin: 1.5rem;
  cursor: pointer;
  width: 1.5rem;
  height: 1.3125rem;
}

.hide-overlay {
  transform: translateX(15.875rem);
}

.overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(5rem);
  z-index: 1;
  top: 0;
  right: 0;
  width: 15.875rem;
  height: 100vh;
  transition: all 0.5s cubic-bezier(0.41, 0.02, 0.7, 0.97);
}

.links-container {
  display: none;
}

.overlay img {
  cursor: pointer;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  right: 1.625rem;
  top: 2.125rem;
}

.overlay-links {
  position: absolute;
  top: 6.375rem;
  left: 2rem;
}

.overlay-links li {
  padding: 1rem 0;
}

.overlay-links b {
  padding-right: 0.25rem;
}

.intro {
  text-align: center;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1rem;
}

.intro span {
  color: #ffffff;
  opacity: 0.25;
  padding-right: 1rem;
  font-weight: 400;
}

.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crew-img-container {
  width: 20.5rem;
  height: 14rem;
  display: flex;
  position: relative;
}

.crew-img {
  object-fit: contain;
  transform: translateX(-4.5rem);
}

.crew-img-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #383b4b;
  height: 1px;
}

.crew-info-container {
  width: 20.5rem;
  height: 13.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.dots {
  width: 5.5rem;
  display: flex;
  justify-content: space-between;
}

.dot {
  background-color: #ffffff;
  opacity: 0.17;
  border: none;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
}

.selected-dot {
  opacity: 1;
}

.crew-info-container h4 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  color: #ffffff;
  opacity: 0.5;
  font-family: "Bellefair", sans-serif;
  font-weight: 300;
}

.crew-info-container h3 {
  padding-bottom: 1rem;
  color: #ffffff;
  font-family: "Bellefair", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.crew-info-container p {
  color: #d0d6f9;
  line-height: 1.5625rem;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
}

@media (min-width: 47.9375rem) {
  .main-container {
    background: url(/assets/destination/background-destination-tablet.jpg);
    background-size: cover;
    background-position: center;
  }

  .logo {
    width: 3rem;
    height: 3rem;
    margin: 1.5rem 2.5rem;
    transition: transform 0.6s ease-in-out;
  }

  .hamburger {
    display: none;
  }

  .links-container {
    height: 6rem;
    min-width: 28.125rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5.09678125rem);
    display: flex;
    justify-content: center;
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .links a {
    font-size: 0.875rem;
  }

  .links b {
    display: none;
  }

  .links li {
    padding: 2.4375rem 0;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .links li:nth-child(3)::after {
    transform: scaleX(1);
  }

  .links li:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
  }

  .links li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .intro {
    text-align: start;
    align-self: flex-start;
    font-size: 1.25rem;
    padding-left: 2.375rem;
    padding-top: 2.5rem;
  }
}

@media (min-width: 89.9375rem) {
  .main-container {
    background: url(/assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-position: center;
  }

  .logo {
    margin-left: 1.375rem;
  }

  .nav-bar {
    padding-top: 2.5rem;
    padding-left: 2rem;
    position: relative;
  }

  .links-container {
    padding: 0 2rem;
  }

  .links-container:after {
    position: absolute;
    content: "";
    top: 3rem;
    right: 50rem;
    min-width: 29.5625rem;
    height: 1px;
    background: #ffffff;
    opacity: 0.25;
  }

  .links-container {
    width: 51.875rem;
  }
  .links {
    width: 33.875rem;
    justify-content: space-between;
  }

  .links a {
    font-size: 1rem;
  }

  .links b {
    display: inline-block;
    padding-right: 0.5rem;
  }

  .intro {
    font-size: 1.75rem;
    padding-left: 10.375rem;
  }
}
