* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1rem;
}

.main-container {
  background-image: url(/assets/crew/background-crew-mobile.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1.5rem;
  transition: transform 0.6s ease-in-out;
}

.logo:hover {
  transform: rotate(720deg);
}

.hamburger {
  margin: 1.5rem;
  cursor: pointer;
  width: 1.5rem;
  height: 1.3125rem;
}

.nav-links-container {
  display: none;
}

.overlay {
  visibility: hidden;
  position: absolute;
  background-color: transparent;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 15.875rem;
}

.display-overlay {
  visibility: visible;
}

.hide-nav-drawer {
  transform: translateX(15.875rem);
}

.nav-drawer {
  position: absolute;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(5rem);
  z-index: 2;
  top: 0;
  right: 0;
  width: 15.875rem;
  height: 100vh;
  transition: all 0.5s cubic-bezier(0.75, 0.18, 0.27, 0.82);
}

.nav-drawer img {
  cursor: pointer;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  right: 1.625rem;
  top: 2.125rem;
}

.nav-drawer-links {
  position: absolute;
  top: 6.375rem;
  left: 2rem;
}

.nav-drawer-links li {
  padding: 1rem 0;
}

.nav-drawer-links span {
  padding-right: 0.25rem;
  font-weight: 700;
}

.intro {
  text-align: center;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1rem;
}

.intro span {
  color: #ffffff;
  opacity: 0.25;
  padding-right: 1rem;
  font-weight: 400;
}

.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew-img {
  margin-top: 2.5rem;
  margin-left: 1rem;
  height: 13.875rem;
}

.crew-info-container::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  width: 20.5rem;
  background: #383b4b;
  height: 1px;
}

.crew-info-container {
  position: relative;
  width: 20.5rem;
  height: 13.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.dots {
  width: 5.5rem;
  display: flex;
  justify-content: space-between;
}

.dot {
  cursor: pointer;
  background-color: #ffffff;
  opacity: 0.17;
  border: none;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
}

.selected-dot {
  opacity: 1;
}

.crew-info {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew-info h4 {
  padding-bottom: 0.5rem;
  color: #ffffff;
  opacity: 0.5;
  font-family: "Bellefair", sans-serif;
  font-weight: 300;
}

.crew-info h3 {
  padding-bottom: 1rem;
  color: #ffffff;
  font-family: "Bellefair", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.crew-info p {
  color: #d0d6f9;
  line-height: 1.5625rem;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
}

@media (min-width: 47.9375rem) {
  .main-container {
    background: url(/assets/crew/background-crew-tablet.jpg);
    background-size: cover;
    background-position: center center;
  }

  .logo {
    width: 3rem;
    height: 3rem;
    margin: 1.5rem 2.5rem;
    transition: transform 0.6s ease-in-out;
  }

  .hamburger {
    display: none;
  }

  .nav-links-container {
    height: 6rem;
    min-width: 28.125rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5.09678125rem);
    display: flex;
    justify-content: center;
  }

  .nav-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-links a {
    font-size: 0.875rem;
  }

  .nav-links span {
    display: none;
  }

  .nav-links li {
    padding: 2.4375rem 0;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .nav-links li:nth-child(2)::after {
    transform: scaleX(1);
  }

  .nav-links li:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
  }

  .nav-links li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .intro {
    text-align: start;
    align-self: flex-start;
    font-size: 1.25rem;
    padding-left: 2.375rem;
    padding-top: 2.5rem;
  }

  .container {
    padding-top: 3.75rem;
    flex-direction: column-reverse;
  }

  .crew-img {
    height: 35.75rem;
  }

  .crew-info-container::after {
    display: none;
  }

  .crew-info-container {
    margin-top: 0;
    width: 28.625rem;
    height: 14.5rem;
    flex-direction: column-reverse;
  }

  .crew-info {
    padding-top: 0;
  }

  .crew-info h4 {
    font-size: 1.5rem;
  }

  .crew-info h3 {
    font-size: 2.5rem;
  }

  .crew-info p {
    line-height: 1.75rem;
    font-size: 1rem;
  }
}

@media (min-width: 89.9375rem) {
  .main-container {
    background: url(/assets/crew/background-crew-desktop.jpg);
    background-size: cover;
    background-position: center;
  }

  .logo {
    margin-left: 1.375rem;
  }

  .nav-bar {
    padding-top: 2.5rem;
    padding-left: 2rem;
    position: relative;
  }

  .nav-links-container {
    padding: 0 2rem;
  }

  .nav-links-container:after {
    position: absolute;
    content: "";
    top: 3rem;
    right: 50rem;
    min-width: 29.5625rem;
    height: 1px;
    background: #ffffff;
    opacity: 0.25;
  }

  .nav-links-container {
    width: 51.875rem;
  }
  .nav-links {
    width: 33.875rem;
    justify-content: space-between;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .nav-links span {
    display: inline-block;
    padding-right: 0.5rem;
    font-weight: 700;
  }

  .intro {
    font-size: 1.75rem;
    padding-top: 4.75rem;
    padding-left: 10.375rem;
  }

  .container {
    padding-top: 0;
    padding-left: 10.375rem;
    padding-right: min(50rem, 10%);
    flex-direction: row-reverse;
    justify-content: start;
  }

  .crew-img {
    padding-left: 4rem;
    width: 35.5rem;
    height: 44.5rem;
    position: absolute;
    bottom: 0;
  }

  .crew-info-container {
    align-items: flex-start;
    padding-top: 9rem;
    width: 30.5rem;
    height: 100%;
  }

  .crew-info {
    align-items: flex-start;
  }

  .crew-info h4 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .crew-info h3 {
    font-size: 3.5rem;
    padding-bottom: 1.75rem;
  }

  .crew-info p {
    text-align: start;
    line-height: 2rem;
    width: 27.5rem;
    font-size: 1.125rem;
    padding-bottom: 7.5rem;
  }

  .dots {
    width: 8.25rem;
  }

  .dot {
    width: 1rem;
    height: 1rem;
  }
}
