* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1rem;
}

.main-container {
  background-image: url(/assets/technology/background-technology-mobile.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1.5rem;
  transition: transform 0.6s ease-in-out;
}

.logo:hover {
  transform: rotate(720deg);
}

.hamburger {
  margin: 1.5rem;
  cursor: pointer;
  width: 1.5rem;
  height: 1.3125rem;
}

.nav-links-container {
  display: none;
}

.overlay {
  visibility: hidden;
  position: absolute;
  background-color: transparent;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 15.875rem;
}

.display-overlay {
  visibility: visible;
}

.display-nav-drawer {
  transform: translateX(-15.875rem);
}

.nav-drawer {
  position: absolute;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(5rem);
  z-index: 2;
  top: 0;
  right: -15.875rem;
  width: 15.875rem;
  height: 100vh;
  transition: all 0.5s cubic-bezier(0.75, 0.18, 0.27, 0.82);
}

.nav-drawer img {
  cursor: pointer;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  right: 1.625rem;
  top: 2.125rem;
}

.nav-drawer-links {
  position: absolute;
  top: 6.375rem;
  left: 2rem;
}

.nav-drawer-links li {
  padding: 1rem 0;
}

.nav-drawer-links span {
  padding-right: 0.25rem;
  font-weight: 700;
}

.intro {
  text-align: center;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1rem;
}

.intro span {
  color: #ffffff;
  opacity: 0.25;
  padding-right: 1rem;
  font-weight: 400;
}

.container {
  margin-top: 2rem;
}

.tech-img-landscape {
  background: url("/assets/technology/image-launch-vehicle-landscape.jpg")
    bottom / cover;
  height: 10.625rem;
  margin-bottom: 2.125rem;
}

.tech-img-portrait {
  display: none;
}

.tech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num-btns {
  display: flex;
  justify-content: space-between;
  width: 9.5rem;
  padding-bottom: 1.625rem;
}

.num-btn {
  cursor: pointer;
  font-family: "Bellefair", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid rgb(255, 255, 255, 0.25);
  border-radius: 50%;
}

.selected-num {
  color: #0b0d17;
  background-color: #ffffff;
}

.tech-info {
  color: #d0d6f9;
  text-align: center;
  width: 20.375rem;
}

.tech-info h2 {
  font-size: 0.875rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  letter-spacing: 2.3625px;
  padding-bottom: 0.5625rem;
}

.tech-info h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Bellefair", sans-serif;
  font-weight: 300;
  padding-bottom: 1rem;
}

.tech-info p {
  font-size: 0.9375rem;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  line-height: 1.5625rem;
}

@media (min-width: 47.9375rem) {
  .main-container {
    background: url(/assets/technology/background-technology-tablet.jpg);
    background-size: cover;
    background-position: center center;
  }

  .logo {
    width: 3rem;
    height: 3rem;
    margin: 1.5rem 2.5rem;
    transition: transform 0.6s ease-in-out;
  }

  .hamburger {
    display: none;
  }

  .nav-links-container {
    height: 6rem;
    min-width: 28.125rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5.09678125rem);
    display: flex;
    justify-content: center;
  }

  .nav-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-links a {
    font-size: 0.875rem;
  }

  .nav-links span {
    display: none;
  }

  .nav-links li {
    padding: 2.4375rem 0;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .nav-links li:nth-child(4)::after {
    transform: scaleX(1);
  }

  .nav-links li:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
  }

  .nav-links li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .intro {
    text-align: start;
    align-self: flex-start;
    font-size: 1.25rem;
    padding-left: 2.375rem;
    padding-top: 2.5rem;
  }

  .container {
    margin-top: 3.75rem;
  }

  .tech-img-landscape {
    height: 19.375rem;
    margin-bottom: 3.5rem;
  }

  .num-btns {
    width: 13.125rem;
    padding-bottom: 2.75rem;
  }

  .num-btn {
    font-size: 1.5rem;
    width: 3.75rem;
    height: 3.75rem;
  }

  .tech-info {
    width: 28.625rem;
  }

  .tech-info h2 {
    letter-spacing: 2.7px;
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .tech-info h3 {
    font-size: 2.5rem;
  }

  .tech-info p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 89.9375rem) {
  .main-container {
    background: url(/assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-position: center;
  }

  .logo {
    margin-left: 1.375rem;
  }

  .nav-bar {
    padding-top: 2.5rem;
    padding-left: 2rem;
    position: relative;
  }

  .nav-links-container {
    padding: 0 2rem;
  }

  .nav-links-container:after {
    position: absolute;
    content: "";
    top: 3rem;
    right: 50rem;
    min-width: 29.5625rem;
    height: 1px;
    background: #ffffff;
    opacity: 0.25;
  }

  .nav-links-container {
    width: 51.875rem;
  }
  .nav-links {
    width: 33.875rem;
    justify-content: space-between;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .nav-links span {
    display: inline-block;
    padding-right: 0.5rem;
    font-weight: 700;
  }

  .intro {
    font-size: 1.75rem;
    padding-top: 4.75rem;
    padding-left: 10.375rem;
  }

  .container {
    margin-top: 1.625rem;
    position: relative;
  }

  .tech-img-landscape {
    display: none;
  }

  .tech-img-portrait {
    display: block;
    background: url("/assets/technology/image-launch-vehicle-portrait.jpg");
    position: absolute;
    top: 0;
    right: 0;
    width: 32.1875rem;
    height: 32.9375rem;
  }

  .tech-container {
    padding-left: 10.25rem;
    flex-direction: row;
    height: 33rem;
  }

  .num-btns {
    padding-bottom: 0;
    flex-direction: column;
    height: 19rem;
    width: 5rem;
  }

  .num-btn {
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
  }

  .tech-info {
    text-align: start;
    height: 19rem;
    width: 29.375rem;
    margin-left: 5rem;
  }

  .tech-info h2 {
    padding-bottom: 0.6875rem;
  }

  .tech-info h3 {
    font-size: 3.5rem;
  }

  .tech-info p {
    font-size: 1.125rem;
    line-height: 2rem;
    width: 27.75rem;
  }
}

@media (min-width: 119.9375rem) {
  .nav-links-container::after {
    width: 57rem;
  }

  .tech-img-portrait {
    right: 12rem;
  }

  .tech-info p {
    width: 40rem;
  }
}
